<%= stylesheet_link_tag 'edit_users', :media => "all" %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="page-content">

        <h1 class="h2 mb-5 font-weight-normal" style="text-align: center; font-size: 40px;"><strong><span>E</span>dit <span>G</span>roup</strong></h1>

        <p class="errors">
          <% if @group.errors.any? %>
            <%= @group.errors.count %>つのエラーが発生しました
            <ul class="error-details">
              <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </p>


        <%= form_with model: @group, url: public_group_path(@group.id), method: :patch do |f| %>

          <div class="row">

            <div class="col-lg-6 col-sm-6 col-xs-6">

              <div class="user-edit-form">

                <label for="user_name">グループ名</label>

                <%= f.text_field :name, class:'form-control user_name', placeholder: "（20文字以内）", autofocus: true, maxlength: "20" %>

              </div>

              <div class="user-edit-form">

                <label for="user_image">グループ画像</label>

                <%= f.file_field :image, class: 'form-control-file image', accept: "image/*" %>

              </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-xs-6">

              <div class="user-edit-form">

                <label for="user_introduction">紹介文</label>

                  <%= f.text_area :introduction, class:'form-control user_introduction', placeholder: "紹介文を入力（1000文字以内）", size: '40x10', autofocus: true, maxlength: "1000" %>

              </div>

            </div>

          </div>

          <div class="edit-button" style="text-align-center">

            <%= f.submit 'Edit Group', class:'btn btn-outline-light', style: "color: #ec6090;" %>

          </div>

        <% end %>

      </div>

    </div>

  </div>

</div>