<div class="album py-5 bg-light">

  <div class="container">

    <% if user_signed_in? %>
        <div class="search_form">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.select :range, options_for_select([['User'], ['Question']]) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
            <%= f.submit "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
      <br>
      <br>

    <div class="row">

      <% @questions.each do |question| %>

        <div class="col-md-4">

          <div class="card md-4 shadow-sm">

            <%#= link_to public_item_path(item.id) do %>
              <%= image_tag question.get_image, size: "250x265", class:'bd-placeholder-img card-img-top' %>
            <%# end %>

            <div class="card-body">

              <p class="card-title">ゲームタイトル:<%= question.title %></p>

              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">質問:<%= question.question %></small>

              </div>

            </div>

          </div>

        </div>

      <% end %>

    </div>

  </div>

</div>