<tbody>

  <tr>

    <td><%= @question.user.last_name %></td>

    <td><%= @question.title %></td>

    <td><%= @question.question %></td>

    <td><%= link_to "編集", public_questions_path %></td>

    <% if @question.bookmarked_by?(current_user) %>

      <td><%= link_to "ブックマークを外す", public_question_bookmarks_path(@question), method: :delete %></td>

    <% else %>

      <td><%= link_to "ブックマーク", public_question_bookmarks_path(@question), method: :post %></td>

    <% end %>

  </tr>

</tbody>