<%= stylesheet_link_tag 'users', :media => "all" %>
<%= stylesheet_link_tag 'tags', :media => "all" %>
<%= stylesheet_link_tag 'titles', :media => "all" %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="page-content">

        <div class="row">

          <div class="col-lg-12">

            <div class="main-profile">

              <h1 class="user-info"><strong><i class="fa-solid fa-user-astronaut"></i> <span>U</span>ser <span>I</span>nfo</strong></h1>

              <div class="row">

                <div class="col-lg-4 col-sm-12 col-xs-12">

                  <%= image_tag @user.get_profile_image, style: "border-radius: 23px;", class: "user-image" %>

                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12 align-self-center">

                  <ul>
                    <li>Name <span><%= @user.user_name %></span></li>
                    <li>Favorite Game <span><%= @user.favorite_game %></span></li>
                    <li>Introduction <p class="users-introduction"><%= @user.introduction %></p></li>
                    <p class="main-border-button">
                      <%= link_to edit_public_user_path, class: "btn btn-outline-light", style: "color: #ec6090;" do %>
                       Edit User
                      <% end %>
                    </p>
                  </ul>

                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12">

                  <div class="main-info header-text">

                    <h2 class="text-center">Ouick Question!!</h4>

                    <%= form_with model: @question, url: public_questions_path, method: :post do |f| %>

                      <div class="title-form">

                        <%= f.text_field :title, placeholder: "質問タイトル(100文字以内)", class:'form-control', autofocus: true, maxlength: "100" %>

                      </div>

                      <div class="image-form">

                        <%= f.file_field :question_images, multiple: true, accept: "image/*", placeholder: "関連画像", class:'form-control' %>

                      </div>

                      <div class="tag-form">

                          <%= f.text_field :tag_name, placeholder: "タグ  ”,”で区切ると複数投稿できます", class:'form-control' %>

                      </div>

                      <div class="question-form">

                        <%= f.text_area :question, placeholder: "質問内容", class:'form-control', size: '40x5', autofocus: true, maxlength: "500" %>

                      </div>

                      <div class="up-button">

                        <%= f.submit 'Up Question!!', class:'btn btn-outline-light', style: "color: #ec6090;" %>

                      </div>

                    <% end %>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="row mt-4">

          <div class="col-lg-12">

            <div class="main-profile">

              <div class="row">

                <div class="col-lg-12">

                  <div class="album py-2">

                    <h1 class="tag-title"><strong><i class="fa-solid fa-tags"></i> <span>T</span>ags</strong></h1>

                    <div class="tag-list">

                      <% @tag_list.each do |list| %>
                        <%= link_to public_search_tag_path(tag_id: list.id), class:"btn btn-outline-light" do %>
                          <span>
                            <i class="fas fa-tag"></i> <%= list.tag_name %><%= "(#{list.questions.count})" %>
                          </span>
                        <% end %>
                      <% end %>

                    </div>

                    <div class="pt-4 mb-5 content-border"></div>

                    <div><br></div>

                    <% if @user.id == current_user.id %>
                        <h1 class="my-questions-title"><strong><i class="fa-solid fa-clipboard-question"></i> <span>M</span>y <span>Q</span>uestions</strong></h1>
                      <% else %>
                        <h1 class="my-questions-title"><strong><i class="fa-solid fa-clipboard-question"></i> <span><%= @user.user_name %></span>'s <span>Q</span>uestions</strong></h1>
                    <% end %>

                    <% @questions.each do |question| %>

                      <div class="row">

                        <div class="col-lg-2 col-sm-2 col-xs-2 my-questions">

                          <%= image_tag @user.get_profile_image, style: "border-radius: 50%;", class: "user_image_question" %>

                        </div>

                        <div class="col-lg-10 col-sm-10 col-xs-10 my-questions">

                          <p>
                            <span class="question-user-name" ><strong><%= @user.user_name %></strong></span>
                            <span class="up-time text-muted"><%= question.created_at.strftime("%Y年 %m月 %d日 %H:%M") %></span>
                          </p>

                          <div class="question-body">

                            <p class="question-title"><strong><%= question.title %></strong></p>

                            <div class="d-flex justify-content-between align-items-center">

                              <p class="question-contents"><%= question.question %></p>

                            </div>

                            <div class="col-lg-12 col-sm-12 col-xs-12 question-images">
                              <% if question.question_images.attached? %>
                                <% question.question_images.each do |image| %>
                                  <%= image_tag image, style: "border-radius: 20px;", class:'question-image' %>
                                <% end %>
                              <% end %>
                            </div>

                            <br>
                            <div class="text-right">

                              <span>
                                <%= link_to public_question_path(question.id), class: "show-link" do  %>
                                  <i class="fa-solid fa-door-open" style="color: #FFCCFF; font-size: 30px;"></i>
                                <% end %>
                              </span>

                              <span>

                                <% if question.bookmarked_by?(current_user) %>

                                  <td>
                                    <%= link_to public_question_bookmarks_path(question.id), method: :delete do %>
                                      <i class="fa-solid fa-bookmark" style="color: #FFCCFF; font-size: 30px;"></i>
                                    <% end %>
                                  </td>

                                <% else %>

                                  <td>
                                    <%= link_to public_question_bookmarks_path(question.id), method: :post do %>
                                      <i class="fa-regular fa-bookmark" style="color: #FFCCFF; font-size: 30px;"></i>
                                    <% end %>
                                  </td>

                                <% end %>

                              </span>

                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="border-bottom border-dark"></div>

                    <% end %>

                  </div>

                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                <div class="col-lg-6 col-sm-6 col-xs-6 pagi-nation">
                  <%= paginate @questions %>
                </div>
              <div class="col-lg-3 col-sm-3 col-xs-3"></div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>




