<%= stylesheet_link_tag 'users', :media => "all" %>
<%= stylesheet_link_tag 'tags', :media => "all" %>
<%= stylesheet_link_tag 'titles', :media => "all" %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="page-content">

        <div class="row">

          <div class="col-lg-12">

            <div class="main-profile">

              <h1 class="user-info"><strong><i class="fa-solid fa-user-astronaut"></i> <span>U</span>ser <span>I</span>nfo</strong></h1>

              <div class="row">

                <div class="col-lg-4 col-sm-12 col-xs-12">

                  <%= image_tag @user.get_profile_image, style: "border-radius: 23px;", class: "user-image" %>

                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12 align-self-center">

                  <ul>
                    <li>Name <span><%= @user.user_name %></span></li>
                    <li>Favorite Game <span><%= @user.favorite_game %></span></li>
                    <li>Introduction <p class="users-introduction"><%= @user.introduction %></p></li>
                    <p class="main-border-button">
                      <%= link_to edit_public_user_path, class: "btn btn-outline-light", style: "color: #ec6090;" do %>
                       Edit User
                      <% end %>
                    </p>
                  </ul>

                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12">

                  <div class="main-info header-text">

                    <h2 class="text-center">Ouick Question!!</h4>

                    <%= form_with model: @question, url: public_questions_path, method: :post do |f| %>

                      <div class="title-form">

                        <%= f.text_field :title, placeholder: "質問タイトル(100文字以内)", class:'form-control', autofocus: true, maxlength: "100" %>

                      </div>

                      <div class="image-form">

                        <%= f.file_field :question_images, multiple: true, accept: "image/*", placeholder: "関連画像", class:'form-control' %>

                      </div>

                      <div class="tag-form">

                          <%= f.text_field :tag_name, placeholder: "タグ  ”,”で区切ると複数投稿できます", class:'form-control' %>

                      </div>

                      <div class="question-form">

                        <%= f.text_area :question, placeholder: "質問内容", class:'form-control', size: '40x5', autofocus: true, maxlength: "500" %>

                      </div>

                      <div class="up-button">

                        <%= f.submit 'Up Question!!', class:'btn btn-outline-light', style: "color: #ec6090;" %>

                      </div>

                    <% end %>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="row mt-4">

          <div class="col-lg-12">

            <div class="main-profile">

              <div class="row">

                <div class="col-lg-12">

                  <div class="album py-2">

                    <h1 class="tag-title"><strong><i class="fa-solid fa-tags"></i> <span>T</span>ags</strong></h1>

                    <div class="tag-list">

                      <%= render 'share/tags' , tag_list: @tag_list %>

                    </div>

                    <div class="pt-4 mb-5 content-border"></div>

                    <div><br></div>

                    <% if @user.id == current_user.id %>
                        <h1 class="my-questions-title"><strong><i class="fa-solid fa-clipboard-question"></i> <span>M</span>y <span>Q</span>uestions</strong></h1>
                      <% else %>
                        <h1 class="my-questions-title"><strong><i class="fa-solid fa-clipboard-question"></i> <span><%= @user.user_name %></span>'s <span>Q</span>uestions</strong></h1>
                    <% end %>

                    <%= render 'share/user_questions' , {questions: @questions, user: @user} %>

                  </div>

                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                <div class="col-lg-6 col-sm-6 col-xs-6 pagi-nation">
                  <%= paginate @questions %>
                </div>
              <div class="col-lg-3 col-sm-3 col-xs-3"></div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>




