<%= stylesheet_link_tag 'users', :media => "all" %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="page-content">

        <div class="row">

          <div class="col-lg-12">

            <div class="main-profile">

              <div class="row">

                <div class="col-lg-4">

                  <%= image_tag @user.get_profile_image, style: "border-radius: 23px;", class: "user_image" %>

                </div>

                <div class="col-lg-4">

                  <div class="main-info header-text">

                    <h2 class="text-center">Introduction</h4>
                     <p><%= @user.introduction %></p>

                  </div>

                  <div class="main-border-button">
                    <%= link_to new_public_question_path, class: "btn btn-outline-danger" do %>
                       Start Question !!
                    <% end %>
                  </div>

                </div>

                <div class="col-lg-4 align-self-center">

                  <ul>
                    <li>Name <span><%= @user.user_name %></span></li>
                    <li>Telephone number <span><%= @user.telephone_number %></span></li>
                    <li>Email <span><%= @user.email %></span></li>
                    <p class="main-border-button">
                      <%= link_to edit_public_user_path, class: "btn btn-outline-danger" do %>
                       Edit User
                      <% end %>
                    </p>
                  </ul>

                </div>

              </div>

              <div class="row">

                <div class="col-lg-12">

                  <div class="album py-5">

                    <% @tag_list.each do |list|%>
                    <%=list.tag_name %>
                    <% "(#{list.questions.count})" %>
                    <% end %>

                    <% @questions.each do |question| %>
                    <i class="fas fa-tag"><%= question.tags.map(&:tag_name).join(', ') %></i>
                    <% end %>

                    <% @tag_list.each do |list| %>
                      <%= link_to list.tag_name,public_search_tag_path(tag_id: list.id) %>
                      <%= "(#{list.questions.count})" %>
                    <% end %>

                    <div><br></div>

                    <div class="row">

                      <% @questions.each do |question| %>

                      <div class="col-lg-2">

                        <%= image_tag @user.get_profile_image, style: "border-radius: 100px;", class: "user_image" %>

                      </div>

                        <div class="col-lg-10">

                          <p>
                            <span class="question-user-name" ><strong><%= @user.user_name %></strong></span>
                            <span class="up-time text-muted">時間</span>
                          </p>

                          <div class="question-body">

                            <p class="text-muted">質問タイトル:<%= question.title %></p>

                            <div class="d-flex justify-content-between align-items-center">

                              <small class="text-muted">質問:<%= question.question %></small>

                            </div>

                            <small class="text-muted"><%= link_to "詳細", public_question_path(question.id) %></small><br>

                            <small class="text-muted">

                              <% if question.bookmarked_by?(current_user) %>

                                <td><%= link_to "ブックマークを外す", public_question_bookmarks_path(question.id), method: :delete %></td>

                              <% else %>

                                <td><%= link_to "ブックマーク", public_question_bookmarks_path(question.id), method: :post %></td>

                              <% end %>

                            </small>

                          </div>

                        </div>

                      <% end %>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


