<%= stylesheet_link_tag 'users', :media => "all" %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="page-content">

        <div class="row">

          <div class="col-lg-12">

            <div class="main-profile">

              <h1 class="user-info"><strong><span>U</span>ser <span>I</span>nfo</strong></h1>

              <div class="row">

                <div class="col-lg-4 col-sm-12 col-xs-12">

                  <%= image_tag @user.get_profile_image, style: "border-radius: 23px;", class: "user-image" %>

                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12 mt-md-3 align-self-center">

                  <ul>
                    <li>Name <span><%= @user.user_name %></span></li>
                    <li>Favorite Game <span><%= @user.favorite_game %></span></li>
                    <li>Introduction <p style="margin-top: 5px;"><%= @user.introduction %></p></li>
                    <p class="main-border-button">
                      <%= link_to edit_public_user_path, class: "btn btn-outline-danger" do %>
                       Edit User
                      <% end %>
                    </p>
                  </ul>

                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12">

                  <div class="main-info header-text">

                    <h2 class="text-center">Let's Question!!</h4>

                    <%= form_with model: @question, url: public_questions_path, method: :post do |f| %>

                      <div class="title-form">

                        <%= f.text_field :title, placeholder: "質問タイトル", class:'form-control' %>

                      </div>

                      <div class="image-form">

                        <%= f.file_field :image, accept: "image/*", placeholder: "関連画像", class:'form-control' %>

                      </div>

                      <div class="tag-form">

                          <%= f.text_field :tag_name, placeholder: "タグ ”,”で区切ると複数投稿できます", class:'form-control' %>

                      </div>

                      <div class="question-form">

                        <%= f.text_area :question, placeholder: "質問内容", class:'form-control', size: '40x3' %>

                      </div>

                      <div class="up-button">

                        <%= f.submit 'Up Question!!', class:'btn btn-outline-danger' %>

                      </div>

                    <% end %>

                  </div>

                </div>

              </div>

              <div class="py-3 border-bottom border-dark"></div>

              <div class="row">

                <div class="col-lg-12">

                  <div class="album py-5">

                    <h1 class="tag-title"><strong><span>T</span>ags</strong></h1>

                    <div class="tag-list">

                      <% @tag_list.each do |list| %>
                        <%= link_to public_search_tag_path(tag_id: list.id), class:"btn btn-danger" do %>
                          <span>
                            <i class="fas fa-tag"></i> <%= list.tag_name %><%= "(#{list.questions.count})" %>
                          </span>
                        <% end %>
                      <% end %>

                    </div>

                    <div><br></div>

                    <h1 class="my-questions-title"><strong><span>M</span>y <span>Q</span>uestions</strong></h1>



                    <% @questions.each do |question| %>

                      <div class="row">

                        <div class="col-lg-2 col-sm-2 col-xs-2 my-questions">

                          <%= image_tag @user.get_profile_image, style: "border-radius: 100px;", class: "user_image_question" %>

                        </div>

                        <div class="col-lg-10 col-sm-10 col-xs-10 my-questions">

                          <p>
                            <span class="question-user-name" ><strong><%= @user.user_name %></strong></span>
                            <span class="up-time text-muted"><%= question.created_at.strftime("%Y年 %m月 %d日 %H:%M") %></span>
                          </p>

                          <div class="question-body">

                            <p class="question-title"><strong>質問タイトル: <%= question.title %></strong></p>

                            <div class="d-flex justify-content-between align-items-center">

                              <p><%= question.question %></p>

                            </div>

                            <div class="col-lg-3 col-sm-3 col-xs-3">
                              <% if question.image.attached? %>
                                <% question.image.each do |image| %>
                                  <%= image_tag image, style: "border-radius: 20px;", class:'question-image' %>
                                <% end %>
                              <% end %>
                            </div>

                            <div class="text-right">

                              <small><%= link_to "詳細", public_question_path(question.id), class: "show-link" %></small>

                              <small>

                                <% if question.bookmarked_by?(current_user) %>

                                  <td><%= link_to "ブックマークを外す", public_question_bookmarks_path(question.id), method: :delete %></td>

                                <% else %>

                                  <td><%= link_to "ブックマーク", public_question_bookmarks_path(question.id), method: :post %></td>

                                <% end %>

                              </small>

                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="border-bottom border-dark"></div>

                    <% end %>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


