<%= stylesheet_link_tag 'users', :media => "all" %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="page-content">

        <div class="row">

          <div class="col-lg-12">

            <div class="main-profile">

              <div class="row">

                <div class="col-lg-4">

                  <%= image_tag @user.get_image, style: "border-radius: 23px;", class: "user_image" %>

                </div>

                <div class="col-lg-4">

                  <div class="main-info header-text">

                    <h2 class="text-center">Introduction</h4>
                     <p><%= @user.introduction %></p>

                  </div>

                  <div class="main-border-button">
                    <%= link_to new_public_question_path, class: "btn btn-outline-danger" do %>
                       Start Question !!
                    <% end %>
                  </div>

                </div>

                <div class="col-lg-4 align-self-center">

                  <ul>
                    <li>Name <span><%= @user.user_name %></span></li>
                    <li>Telephone number <span><%= @user.telephone_number %></span></li>
                    <li>Email <span><%= @user.email %></span></li>
                    <p class="main-border-button">
                      <%= link_to edit_public_user_path, class: "btn btn-outline-danger" do %>
                       Edit User
                      <% end %>
                    </p>
                  </ul>

                </div>



              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


