<!DOCTYPE html>
<html>
  <head>
    <title>GameQuestion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/9ed88e2d37.js" crossorigin="anonymous"></script>

  </head>

  <body style="padding-top:8rem" class="bg-black text-light">

    <header>

      <nav class="navbar navbar-expand-lg navbar-light text-light fixed-top p-1">

        <div class="container">

          <% if user_signed_in? %>
            <%= link_to public_questions_path, class:"navbar-brand text-light" do %>
              <%= image_tag 'Game.png', size: "90x90" %>
            <% end %>
          <% else %>
            <%= link_to root_path, class:"navbar-brand text-light" do %>
              <%= image_tag 'Game.png', size: "90x90" %>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <div class="search_form text-center">
              <%= form_with url: public_search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word %>
                <%= f.select :range, options_for_select([['User'], ['Question']]) %>
                <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                <%= f.submit "検索", class: "btn btn-primary" %>
              <% end %>
            </div>
          <% end %>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

          </button>

          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">

            <ul class="nav nav-tabs ml-auto">

              <% if user_signed_in? %>

                <!--<li class="customer-name">-->
                 <!--<strong>ようこそ、<%#= current_user.first_name %>さん！</strong>-->
                <!--</li>-->


                <li class="nav-item">
                  <%= link_to public_user_path(current_user.id), class:'nav-link link-danger text-light' do  %>
                    <i class="fa-solid fa-user-astronaut" style="color: #ec6090;"></i> マイページ
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to public_questions_path, class:'nav-link text-light' do  %>
                    <i class="fa-solid fa-clipboard-question" style="color: #ec6090;"></i> 質問一覧
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to public_bookmarks_path, class:'nav-link text-light' do  %>
                    ブックマーク一覧
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to public_groups_path, class:'nav-link text-light' do  %>
                    グループ一覧
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to destroy_user_session_path, class:'nav-link text-light', method: :delete do  %>
                    ログアウト
                  <% end %>
                </li>

              <% elsif admin_signed_in? %>

                <li class="nav-item">
                  <%#= link_to admin_users_path, class:'nav-link text-light' do  %>
                    ユーザー一覧
                  <%# end %>
                </li>

                <li class="nav-item">
                  <%= link_to admin_groups_path, class:'nav-link text-light' do  %>
                    グループ一覧
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to admin_games_path, class:'nav-link text-light' do  %>
                    ジャンル一覧
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, class:'nav-link text-light',method: :delete  do  %>
                    ログアウト
                  <% end %>
                </li>

              <% else %>

                <li class="nav-item">
                  <%= link_to new_user_registration_path, class:'nav-link text-light' do  %>
                    会員登録
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to new_user_session_path, class:'nav-link text-light' do %>
                    会員ログイン
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to public_questions_path, class:'nav-link text-light' do  %>
                    質問一覧
                  <% end %>
                </li>

              <% end %>

            </ul>

          </div>

        </div>

      </nav>

    </header>

    <div class="question-button">
      <%= link_to new_public_question_path, class: "btn btn-outline-danger", style: "border-radius: 90px" do %>
        <i class="fa-solid fa-question"></i><br>質問
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
